<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-6" for="prepend">
                            Vyberte prosím slovný druh, ktorého slovo chcete pridať:
                        </label>
                        <div class="col-sm-6">
                            <select id="ddlVyberDruh" class="SearchOnChange SearchOnEnter form-control">
                                <option value="POD_M">Podstatné meno</option>
                                <option value="PRID_M">Prídavné meno</option>
                                <option value="ZAMENO">Zámeno</option>
                                <option value="SLOVESO">Sloveso</option>
                                <option value="PRISLOVKA">Príslovku</option>
                                <option value="CISLOVKA">Číslovku</option>
                                <option value="CITOSLOVCE">Citoslovce</option>
                                <option value="CASTICA">Časticu</option>
                                <option value="SPOJKA">Spojku</option>
                                <option value="PREDLOZKA">Predložku</option>
                                <option value="OSTATNE">Iné</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {

    var $modal =  $('#ddlVyberDruh').parents('.modal');
	
	if ('{{request.args.get("slovo")}}'!='None'){
 		slovoParam = '&slovo={{request.args.get("slovo")}}';
    }
	if ('{{request.args.get("sd_id")}}'!='None'){
 		slovoParam = '&sd_id={{request.args.get("sd_id")}}&edit=false';
	}

    $modal.find('.btnCancel').removeClass('nodisplay');
    var $btnSave = $modal.find('.btnSave').removeClass('nodisplay').html("<i class='fa fa-plus'></i>&nbsp;Pridať");
    $btnSave.unbind("click");
    $btnSave.click(function() {
        if ($('#ddlVyberDruh').val()=="OSTATNE"||
            $('#ddlVyberDruh').val()=="CASTICA"||
            $('#ddlVyberDruh').val()=="SPOJKA"||
            $('#ddlVyberDruh').val()=="PRISLOVKA"||
            $('#ddlVyberDruh').val()=="CITOSLOVCE"){

            $modal.modal('hide');
            loadTemplateIntoLargeScreenModal('#defaultModal2', 'largescreen', 'Pridať slovo iného druhu','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+$('#ddlVyberDruh').val()+slovoParam);
        }
        else if ($('#ddlVyberDruh').val()=="POD_M"){
            $modal.modal('hide');
            loadTemplateIntoLargeScreenModal('#defaultModal2', 'largescreen', 'Pridať podstatné meno','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+$('#ddlVyberDruh').val()+slovoParam);
        }
        else if ($('#ddlVyberDruh').val()=="SLOVESO"){
            $modal.modal('hide');
            loadTemplateIntoLargeScreenModal('#defaultModal2', 'largescreen', 'Pridať sloveso','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+$('#ddlVyberDruh').val()+slovoParam);
        }
        else if ($('#ddlVyberDruh').val()=="ZAMENO"){
            $modal.modal('hide');
            loadTemplateIntoLargeScreenModal('#defaultModal2', 'largescreen', 'Pridať zámeno','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+$('#ddlVyberDruh').val()+slovoParam);
        }
        else if ($('#ddlVyberDruh').val()=="CISLOVKA"){
            $modal.modal('hide');
            loadTemplateIntoLargeScreenModal('#defaultModal2', 'largescreen', 'Pridať číslovku','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+$('#ddlVyberDruh').val()+slovoParam);
        }
        else if ($('#ddlVyberDruh').val()=="PRID_M"){
            $modal.modal('hide');
            loadTemplateIntoLargeScreenModal('#defaultModal2', 'largescreen', 'Pridať prídavné meno','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+$('#ddlVyberDruh').val()+slovoParam);
        }
        else if ($('#ddlVyberDruh').val()=="PREDLOZKA"){
            $modal.modal('hide');
            loadTemplateIntoLargeScreenModal('#defaultModal2', 'largescreen', 'Pridať predložku','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+$('#ddlVyberDruh').val()+slovoParam);
        }
    });

    $('.modal').on("hidden.bs.modal", function (e) { //fire on closing modal box
        if ($('.modal:visible').length) { // check whether parent modal is opend after child modal close
            $('body').addClass('modal-open'); // if open mean length is 1 then add a bootstrap css class to body of the page
        }
    });
	
	if ('{{request.args.get("sd")}}'!='None'){
		$('#ddlVyberDruh').val('{{request.args.get("sd")}}');
		$btnSave.click();
	}
});

</script>