<div id="slova_loader" class="row">
    <div class="col-sm-12">
        <i class="fa fa-spinner fa-spin fa-lg"></i>
    </div>
</div>
<div id="slova_div" class="row nodisplay">
    <div class="col-sm-12">
        <form id="SDSlovaForm" data-fv-framework="bootstrap" method="post">
                <div class="row marginbottomDetailSD ">
                    <label class="col-sm-2" for="prepend">
                         Koreň slova:
                    </label>
                    <div class="col-sm-5">
                        <select id="ddlKorenSlova" class="form-control" name="ddlKorenSlova">
                        </select>
                    </div>
                </div>
                <div class="row VZOR marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Skloňovací vzor:
                    </label>
                    <div class="col-sm-10">
                        <select id="ddlVzor" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="row VZOR marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Prefix:
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlPrefix" class="form-control">
                        </select>
                    </div>
                    <label class="col-sm-2" for="prepend">
                         Sufix:
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlSufix" class="form-control" name="ddlSufix">
                        </select>
                    </div>
                </div>
                <div class="row POD_M marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Paradigma:
                    </label>
                    <div class="col-sm-8">
                        <select id="ddlParadigma_POD_M" class="form-control">
                            <option value="S">S - substantívna - napr. chlap, žena, srdce</option>
                            <option value="A">A - adjektívna - napr. hlavný, vedúci, Mastný, starká, Slaná, vstupné</option>
                            <option value="F">F - zmiešaná - napr. kuli, gazdiná</option>
                            <option value="U">U - neúplná - napr. kanoe, kupé</option>
                        </select>
                    </div>
                </div>
                <div class="row PRID_M marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Paradigma:
                    </label>
                    <div class="col-sm-8">
                        <select id="ddlParadigma_PRID_M" class="form-control">
                            <option value="A">A - ajektívna - napr. pekný, cudzí, páví</option>
                            <option value="F">F - zmiešaná - otcov, matkin</option>
                            <option value="U">U - neúplná - napr. super, nanič, hoden, rád, rada</option>
                            <option value="k">k - Particípum - aktívne - pracujúci, visiaci, píšuci, platiaci</option>
                            <option value="t">t - Particípum - pasívne - robený, kosený, obratý, zožatý</option>
                        </select>
                    </div>
                </div>
                <div class="row PRID_M marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Stupňovací vzor:
                    </label>
                    <div class="col-sm-10">
                        <select id="ddlVzorStup" class="form-control">
                        </select>
                    </div>
                </div>

                <fieldset class="border p-2">
                    <legend>Údaje slov</legend>
                <div class="row">
                    <div class="col-xs-12" style="margin:0 auto;display:block;">
                            <button id="btnFilter" type='button' style="margin-top:20px;margin-bottom:20px;" class="btn btn-primary" onclick="ToggleFilter();"><i class="fa fa-plus"></i>&nbsp;Filter a generovanie slov</button>
                    </div>
                </div>
                <div id="divSFiltrom" class="col-xs-12 nodisplay">
                    <table class="tabulka_filtra" style="margin: auto;width: 50% !important; margin-bottom:10px">
                        <thead>
                            <th class="nodisplay">Id</th>
                            <th>Tvar</th>
                            <th class="c_rod">Rod/podrod</th>
                            <th class="c_pad">Pád</th>
                            <th class="c_cislo">Číslo</th>
                            <th class="c_osoba">Osoba</th>
                            <th class="c_cas">Čas</th>
                            <th class="c_sposob">Spôsob</th>
                            <th class="c_stupen">Stupeň</th>
                            <th class="c_pricastie">Príčastie</th>
                            <th>Anotácia</th>
                            <th></th>
                        </thead>
                        <tbody id="telo_filtra">
                        <tr id="zaznam_f" class="">
                            <td class="nodisplay">
                                <span id="id_f"></span>
                                <input type="hidden" id="hdn_changed_f" value="false"/>
                            </td>
                            <td>
                                <div class="row">
                                <div class="col-sm-12">
                                    <input class="form-control slovo_tvar changed_f" type="text" id="tvar_f" name="tvar_f" value="%"/>
                                </div>
                                </div>
                            </td>
                            <td class="c_rod">
                                <select class="form-control slovo_ddl changed_f" id="rod_f" name="rod_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="M/Z">M/Z</option>
                                    <option value="M/N">M/N</option>
                                    <option value="Z">Z</option>
                                    <option value="S">S</option>
                                </select>
                            </td>
                            <td class="c_pad">
                                <select id="pad_f" class="form-control slovo_ddl changed_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="Nom">Nom</option>
                                    <option value="Gen">Gen</option>
                                    <option value="Dat">Dat</option>
                                    <option value="Aku">Aku</option>
                                    <option value="Vok">Vok</option>
                                    <option value="Lok">Lok</option>
                                    <option value="Ins">Ins</option>
                                </select>
                            </td>
                            <td class="c_cislo">
                                <select id="cislo_f" class="form-control slovo_ddl changed_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="J">J</option>
                                    <option value="M">M</option>
                                    <option value="P">P</option>
                                </select>
                            </td>
                            <td class="c_osoba">
                                <select id="osoba_f" class="form-control slovo_ddl changed_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="c_cas">
                                <select id="cas_f" class="form-control slovo_ddl changed_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="P">P</option>
                                    <option value="M">M</option>
                                    <option value="B">B</option>
                                </select>
                            </td>
                            <td class="c_sposob">
                                <select id="sposob_f" class="form-control slovo_ddl changed_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="O">O</option>
                                    <option value="R">R</option>
                                </select>
                            </td>
                            <td class="c_stupen">
                                <select id="stupen_f"  class="form-control slovo_ddl changed_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="c_pricastie">
                                <select id="pricastie_f" class="form-control slovo_ddl changed_f">
                                    <option value="" selected>Všet.</option>
                                    <option value="T">T</option>
                                    <option value="C">C</option>
                                    <option value="M">M</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control anotacia changed_f" type="text" id="anotacia_f" name="anotacia_f" value="%"/>
                            </td>
                            <td>
                                <button id="btnZmazSlovo_f" style="opacity:0" type='button' class="btn btn-primary"><i class="fa fa-minus"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12" style="margin:0 auto;display:block;">
                            <div class="text-center">
                                <a href="#" id="genDefTvary" onclick="GenerujDefaultTvary();" class="btn"><i class="fa fa-plus"></i>&nbsp;Generovať default tvary</a>
                                <a href="#" id="genAnotaciu" onclick="GenerujAnotaciu();" class="btn"><i class="fa fa-plus"></i>&nbsp;Generovať anotáciu</a>
                                <a href="#" id="zmazTvary" onclick="ZmazVsetkyTvaryVyhovujuceFiltru();" class="btn"><i class="fa fa-trash"></i>&nbsp;Zmazať všetky tvary vyhovujúce filtru</a>
                                <a href="#" id="zmazAnotaciu" onclick="ZmazAnotaciu();" class="btn"><i class="fa fa-trash"></i>&nbsp;Zmazať anotáciu vyhovujúcu filtru</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="margin:0 auto;display:block;margin-bottom:20px;">
                                <a href="#" id="aFiltruj" onclick="FiltrujSlova();" class="btn"><i class="fa fa-search"></i>&nbsp;Aplikovať filter</a>
                        </div>
                    </div>
                </div>

                <div id="divSTabulkou" class="col-xs-12">
                    <table class="tabulka_slov" style="margin: auto;width: 50% !important; margin-bottom:10px">
                        <thead>
                            <th class="nodisplay">Id</th>
                            <th>Tvar</th>
                            <th class="c_rod">Rod/podrod</th>
                            <th class="c_pad">Pád</th>
                            <th class="c_cislo">Číslo</th>
                            <th class="c_osoba">Osoba</th>
                            <th class="c_cas">Čas</th>
                            <th class="c_sposob">Spôsob</th>
                            <th class="c_stupen">Stupeň</th>
                            <th class="c_pricastie">Príčastie</th>
                            <th>Anotácia</th>
                            <th></th>
                        </thead>
                        <tbody id="telo_tabulky">
                        <tr id="zaznam_0" class="nodisplay">
                            <td class="nodisplay">
                                <span id="id_0"></span>
                                <input type="hidden" id="hdn_changed_0" value="false"/>
                            </td>
                            <td>
                                <div class="row">
                                <div class="col-sm-12">
                                    <input class="form-control slovo_tvar changed_sl" type="text" id="tvar_0" name="tvar_0" value=""/>
                                </div>
                                </div>
                            </td>
                            <td class="c_rod">
                                <select class="form-control slovo_ddl changed_sl" id="rod_0" name="rod_0">
                                    <option value="" selected>Žiad.</option>
                                    <option value="M/Z">M/Z</option>
                                    <option value="M/N">M/N</option>
                                    <option value="Z">Z</option>
                                    <option value="S">S</option>
                                </select>
                            </td>
                            <td class="c_pad">
                                <select id="pad_0" class="form-control slovo_ddl changed_sl">
                                    <option value="" selected>Žiad.</option>
                                    <option value="Nom">Nom</option>
                                    <option value="Gen">Gen</option>
                                    <option value="Dat">Dat</option>
                                    <option value="Aku">Aku</option>
                                    <option value="Vok">Vok</option>
                                    <option value="Lok">Lok</option>
                                    <option value="Ins">Ins</option>
                                </select>
                            </td>
                            <td class="c_cislo">
                                <select id="cislo_0" class="form-control slovo_ddl changed_sl">
                                    <option value="" selected>Žiad.</option>
                                    <option value="J">J</option>
                                    <option value="M">M</option>
                                    <option value="P">P</option>
                                </select>
                            </td>
                            <td class="c_osoba">
                                <select id="osoba_0" class="form-control slovo_ddl changed_sl">
                                    <option value="" selected>Žiad.</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="c_cas">
                                <select id="cas_0" class="form-control slovo_ddl changed_sl">
                                    <option value="" selected>Žiad.</option>
                                    <option value="P">P</option>
                                    <option value="M">M</option>
                                    <option value="B">B</option>
                                </select>
                            </td>
                            <td class="c_sposob">
                                <select id="sposob_0" class="form-control slovo_ddl changed_sl">
                                    <option value="" selected>Žiad.</option>
                                    <option value="O">O</option>
                                    <option value="R">R</option>
                                </select>
                            </td>
                            <td class="c_stupen">
                                <select id="stupen_0" class="form-control slovo_ddl changed_sl">
                                    <option value="" selected>Žiad.</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </td>
                            <td class="c_pricastie">
                                <select id="pricastie_0" class="form-control slovo_ddl changed_sl">
                                    <option value="" selected>Žiad.</option>
                                    <option value="T">T</option>
                                    <option value="C">C</option>
                                    <option value="M">M</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control anotacia changed_sl" type="text" id="anotacia_0" name="anotacia_0" value=""/>
                            </td>
                            <td>
                                <button id="btnZmazSlovo_0" type='button' class="btn btn-primary" title="Odstrániť slovo" onclick="ZmazSlovo(0);"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                        <button id="btnPridajSlovo" style="margin:0 auto;display:block;" type='button' class="btn btn-primary" onclick="PridajNoveSlovo(true);">Pridaj slovo</button>
                </div>
                </fieldset>
        </form>
    </div>
</div>

<script>

/******************** GLOBALNE PREMENNE **********************/
/******************** GLOBALNE PREMENNE **********************/
/******************** GLOBALNE PREMENNE **********************/

var zmazaneSlova = [];
var pocet_slov = 0;

/******************** GENEROVANIE TVAROV A ANOTACIE **********************/
/******************** GENEROVANIE TVAROV A ANOTACIE **********************/
/******************** GENEROVANIE TVAROV A ANOTACIE **********************/

function PridajVygenerovaneSlovo(tvar, rod, podrod, pad, cislo, osoba, cas, sposob, stupen, pricastie, anotacia){
    PridajNoveSlovo(true);
    $('#tvar_'+pocet_slov).val(tvar);

    rod_value = GetRodValue(rod, podrod);

    $('#rod_'+pocet_slov).val(rod_value);
    $('#pad_'+pocet_slov).val(pad);
    $('#cislo_'+pocet_slov).val(cislo);
    $('#osoba_'+pocet_slov).val(osoba);
    $('#cas_'+pocet_slov).val(cas);
    $('#sposob_'+pocet_slov).val(sposob);
    $('#stupen_'+pocet_slov).val(stupen);
    $('#pricastie_'+pocet_slov).val(pricastie);
    $('#anotacia_'+pocet_slov).val(anotacia);
}

function NastavAnotaciu(tvar, rod, podrod, pad, cislo, osoba, cas, sposob, stupen, pricastie, anotacia){
    $("#divSTabulkou tr[id^='zaznam_']").each(function () {
        var j=$(this).attr('id').replace('zaznam_','');
        if (j!="0"){
            if (ZaznamVyhovujeFiltru(j)){
                if (!rod)
                    rod = "";
                else
                    rod = GetRodValue(rod, podrod);
                if (!podrod)
                    podrod = "";
                if (!pad)
                    pad = "";
                if (!cislo)
                    cislo = "";
                if (!osoba)
                    osoba = "";
                if (!cas)
                    cas = "";
                if (!sposob)
                    sposob = "";
                if (!stupen)
                    stupen = "";
                if (!pricastie)
                    pricastie = "";


                if ($('#rod_'+j).val() == rod && $('#pad_'+j).val() == pad &&
                $('#cislo_'+j).val() == cislo && $('#osoba_'+j).val() == osoba && $('#cas_'+j).val() == cas &&
                $('#sposob_'+j).val() == sposob && $('#stupen_'+j).val() == stupen &&
                $('#pricastie_'+j).val() == pricastie){
                    $('#anotacia_'+j).val(anotacia);
                    $('#hdn_changed_'+j).val("true");
                }
            }
        }
    });

}

function GenerujDefaultTvary(){
    var filter = GetFilterValues();

    filter.koren = $('#ddlKorenSlova').val();
    filter.prefix = $('#ddlPrefix').val();
    filter.sufix = $('#ddlSufix').val();
    filter.vzor = $('#ddlVzor').val();
    filter.vzor_stup = $('#ddlVzorStup').val();

    if ('{{request.args.get("slovnyDruh")}}'=='POD_M')
        filter.paradigma = $('#ddlParadigma_POD_M').val();
    else if ('{{request.args.get("slovnyDruh")}}'=='PRID_M')
        filter.paradigma = $('#ddlParadigma_PRID_M').val();

    filter.sd_id = getSD_ID();

/*
    swal({ buttons: {},
                       title  :  "Generovanie",
                       text   :  'Prebieha generovanie tvarov...',
                       icon   :  "info",
                       closeOnClickOutside : false,
                       closeModal : false,
                       closeOnEsc : false,
                       });
*/
    //$('#genDefTvary').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;Generujem default tvary');

    AjaxMethods.getDataFromPostRequest('{{url_for("sd.generuj_morfo")}}', "", filter, function(r){
            if (r.status==responseOK){//OK vetva
                for (var i=0;i<r.data.length;i++){
                    PridajVygenerovaneSlovo(r.data[i].tvar, r.data[i].rod, r.data[i].podrod,
                        r.data[i].pad, r.data[i].cislo, r.data[i].osoba, r.data[i].cas, r.data[i].sposob,
                        r.data[i].stupen, r.data[i].pricastie,
                        r.data[i].anotacia);
                        //swal.close();
                        //$('#genDefTvary').html('<i class="fa fa-plus"></i>&nbsp;Generovať default tvary');
                }
            }
            else{
                swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  r.error_text,
                       icon   :  "error"});

            }
        });
}

function GenerujAnotaciu(){
    var filter = GetFilterValues();

    filter.koren = $('#ddlKorenSlova').val();
    filter.prefix = $('#ddlPrefix').val();
    filter.sufix = $('#ddlSufix').val();
    filter.vzor = $('#ddlVzor').val();
    filter.vzor_stup = $('#ddlVzorStup').val();
    if ('{{request.args.get("slovnyDruh")}}'=='POD_M')
        filter.paradigma = $('#ddlParadigma_POD_M').val();
    else if ('{{request.args.get("slovnyDruh")}}'=='PRID_M')
        filter.paradigma = $('#ddlParadigma_PRID_M').val();
    filter.sd_id = getSD_ID();

    AjaxMethods.getDataFromPostRequest('{{url_for("sd.generuj_morfo")}}', "", filter, function(r){
            if (r.status==responseOK){//OK vetva
                for (var i=0;i<r.data.length;i++){
                    NastavAnotaciu(r.data[i].tvar, r.data[i].rod, r.data[i].podrod,
                        r.data[i].pad, r.data[i].cislo, r.data[i].osoba, r.data[i].cas, r.data[i].sposob,
                        r.data[i].stupen, r.data[i].pricastie,
                        r.data[i].anotacia);
                }
            }
            else{
                swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  r.error_text,
                       icon   :  "error"});

            }
        });

}

function ZmazAnotaciu(){
    if ($('#hdn_changed_f').val()=="true") {
        swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  "Filter sa zmenil. Najskôr aplikujte filter",
                       icon   :  "error"});
        return;
    }

    $("#divSTabulkou tr[id^='zaznam_']").each(function () {
       var j=$(this).attr('id').replace('zaznam_','');
       if (j!="0" && ZaznamVyhovujeFiltru(j))
           $('#anotacia_'+j).val('');
    });
}

/**************** SPOLOCNE FUNKCIE POUZIVANE NAPRIEC *********************/
/**************** SPOLOCNE FUNKCIE POUZIVANE NAPRIEC *********************/
/**************** SPOLOCNE FUNKCIE POUZIVANE NAPRIEC *********************/
function GetRodValue(rod, podrod){
    var rod_value=rod;
    if (rod == "M")
        if (podrod == "Z")
            rod_value="M/Z";
        else
            rod_value="M/N";
    return rod_value;
}
function PridajNoveSlovo(nastavAkoZmenene){
   pocet_slov++;
   var htmlRiadku = $('#zaznam_0').html();
   htmlRiadku = '<tr id="zaznam_'+pocet_slov+'">'+htmlRiadku.replace(/0/g, pocet_slov)+'</tr>';
   $('#telo_tabulky').append(htmlRiadku);

   var mandatoryValidator = {
            row: '.col-sm-12',
            validators: {
                notEmpty: {
                    message: 'Tvar slova je povinný'
                }
            }
        };

   $('#SDSlovaForm').formValidation('addField', 'tvar_' + pocet_slov, mandatoryValidator);

   $("#divSTabulkou tr[id='zaznam_"+pocet_slov+"'] .changed_sl").change(function (){
        $('#hdn_changed_'+pocet_slov).val('true');
    });

    if (nastavAkoZmenene){
        $('#hdn_changed_'+pocet_slov).val("true");
    }
}

function ZmazSlovo(id){
    var idSlova = $('#id_'+id).html()||0;
    zmazaneSlova.push(idSlova);
    $('#zaznam_'+id).remove();
}


/*************************** PRACA S FILTROM **************************/
/*************************** PRACA S FILTROM **************************/
/*************************** PRACA S FILTROM **************************/

function GetFilterValues(){
    var fObj = {};
    fObj.tvar = $('#tvar_f').val();
    fObj.rod = $('#rod_f').val();
    fObj.podrod = "";

    if (fObj.rod.includes('/')){
        fObj.podrod = fObj.rod.substring(2);
        fObj.rod = "M";
    }

    fObj.pad = $('#pad_f').val();
    fObj.cislo = $('#cislo_f').val();
    fObj.osoba = $('#osoba_f').val();
    fObj.cas = $('#cas_f').val();
    fObj.sposob = $('#sposob_f').val();
    fObj.stupen = $('#stupen_f').val();
    fObj.pricastie = $('#pricastie_f').val();
    fObj.anotacia = $('#anotacia_f').val();

    return fObj;
}

function VyhovujeRetazecFiltru(filter, retazec){
    filter = filter.replace(/%/g, '.*');
    filter = filter.replace(/_/g, '.');
    var regex = new RegExp('^'+filter+'$', 'g' );
    var res = regex.test(retazec);

    return res;
}

function ZaznamVyhovujeFiltru(j){
    var v_tvar = true;
    if (!VyhovujeRetazecFiltru($('#tvar_f').val(),
                               $('#tvar_'+j).val())
       )
        v_tvar=false;

    var v_rod = true;
    if (!($('#rod_f').val()=="" ||
          $('#rod_f').val()==$('#rod_'+j).val())
       )
       v_rod=false;


    var v_pad = true;
    if (!($('#pad_f').val()=="" ||
          $('#pad_f').val()==$('#pad_'+j).val())
       )
       v_pad=false;


    var v_cislo = true;
    if (!($('#cislo_f').val()=="" ||
          $('#cislo_f').val()==$('#cislo_'+j).val())
       )
       v_cislo=false;


    var v_osoba = true;
    if (!($('#osoba_f').val()=="" ||
          $('#osoba_f').val()==$('#osoba_'+j).val())
       )
       v_osoba=false;


    var v_cas = true;
    if (!($('#cas_f').val()=="" ||
          $('#cas_f').val()==$('#cas_'+j).val())
       )
       v_cas=false;


    var v_sposob = true;
    if (!($('#sposob_f').val()=="" ||
          $('#sposob_f').val()==$('#sposob_'+j).val())
       )
       v_sposob=false;


    var v_stupen = true;
    if (!($('#stupen_f').val()=="" ||
          $('#stupen_f').val()==$('#stupen_'+j).val())
       )
       v_stupen=false;


    var v_pricastie = true;
    if (!($('#pricastie_f').val()=="" ||
          $('#pricastie_f').val()==$('#pricastie_'+j).val())
       )
       v_pricastie=false;

    v_anotacia = true;
    if (!VyhovujeRetazecFiltru($('#anotacia_f').val(),
                               $('#anotacia_'+j).val()))
        v_anotacia=false;

    return v_tvar && v_rod && v_pad && v_cislo && v_osoba && v_cas && v_sposob && v_stupen && v_pricastie && v_anotacia;
}

function FiltrujSlova(){
    $("#divSTabulkou tr[id^='zaznam_']").each(function () {
        var j=$(this).attr('id').replace('zaznam_','');
        if (j!="0"){
            if (ZaznamVyhovujeFiltru(j)){
                $('#zaznam_'+j).removeClass('nodisplay')
            }
            else{
                $('#zaznam_'+j).addClass('nodisplay')
            }
        }
    });
    $('#hdn_changed_f').val('false');
}

function ToggleFilter(){
        if ($('#divSFiltrom').hasClass('nodisplay')){
            $('#btnFilter').html("<span class='fa fa-minus fa-sm'></span>&nbsp;Filter a generovanie slov");
            $("#divSFiltrom").slideToggle("slow").removeClass('nodisplay');
        }
        else{
            $('#btnFilter').html("<span class='fa fa-plus fa-sm'></span>&nbsp;Filter a generovanie slov");
            $("#divSFiltrom").slideToggle("slow").addClass('nodisplay');
        }
}

function ZmazVsetkyTvaryVyhovujuceFiltru(){
    if ($('#hdn_changed_f').val()=="true") {
        swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  "Filter sa zmenil. Najskôr aplikujte filter",
                       icon   :  "error"});
        return;
    }

    $("#divSTabulkou tr[id^='zaznam_']").each(function () {
       var j=$(this).attr('id').replace('zaznam_','');
       if (j!="0" && ZaznamVyhovujeFiltru(j))
           ZmazSlovo(j);
    });
}



/******************* NACITANIE A ULOZENIE SD ************************/
/******************* NACITANIE A ULOZENIE SD ************************/
/******************* NACITANIE A ULOZENIE SD ************************/

function setupSlova(a){
    for (var i=0;i<a.length;i++){
        PridajNoveSlovo();
        var j=i+1;
        $('#id_'+j).html(a[i].id);
        $('#tvar_'+j).val(a[i].tvar);
        $('#rod_'+j).val(GetRodValue(a[i].rod,a[i].podrod));
        $('#pad_'+j).val(a[i].pad);
        $('#cislo_'+j).val(a[i].cislo);
        $('#osoba_'+j).val(a[i].osoba);
        $('#cas_'+j).val(a[i].cas);
        $('#sposob_'+j).val(a[i].sposob);
        $('#stupen_'+j).val(a[i].stupen);
        $('#pricastie_'+j).val(a[i].pricastie);
        $('#anotacia_'+j).val(a[i].anotacia);
    }

    if (a.length==0)
        PridajNoveSlovo(true);
}

function NacitajSDSlova(id){
        AjaxMethods.getDataFromGetRequest('{{url_for("sd.vrat_cely_slovny_druh")}}', "", "?sd_id="+id, function(r){
            if (r.status==responseOK){//OK vetva

                SetUpVzory(r.data.vzory);
                SetUpPrefixSufix(r.data.prefix_sufix);
                SetUpKoren(r.data.zak_tvar);

                if (r.data.vzor)
                    $('#ddlVzor').val(r.data.vzor);

                if (r.data.koren)
                    $('#ddlKorenSlova').val(r.data.koren);

                if (r.data.prefix)
                    $('#ddlPrefix').val(r.data.prefix);
                if (r.data.sufix)
                    $('#ddlSufix').val(r.data.sufix);

                if (r.data.typ=="POD_M"){
                    if (r.data.paradigma)
                        $('#ddlParadigma_POD_M').val(r.data.paradigma);
                }
                else if (r.data.typ=="PRID_M"){
                    if (r.data.paradigma)
                        $('#ddlParadigma_PRID_M').val(r.data.paradigma);
                    if (r.data.vzor_stup){
                        $('#ddlVzorStup').val(r.data.vzor_stup);
                    }
                }
                else if (r.data.typ=="ZAMENO"){
                }
                else if (r.data.typ=="SLOVESO"){
                }
                else if (r.data.typ=="PREDLOZKA"){
                }
                else if (r.data.typ=="CISLOVKA"){
                }

                setupSlova(r.data.slova);

            } else{
                   swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  r.message_text,
                       icon   :  "error"})
            }
        });

}

function VratZoznamZmenenychSlov(vratAjNezmeneneZaznamy){
    var zoznam = [];
    $("#divSTabulkou tr[id^='zaznam_']").each(function () {
        var j=$(this).attr('id').replace('zaznam_','');
        if ($('#hdn_changed_'+j).val()=="true" || vratAjNezmeneneZaznamy){
            if (j!="0"){
                var o = {};
                o.id = $('#id_'+j).html()||0;
                if (vratAjNezmeneneZaznamy)
                    o.id = 0;
                o.tvar = $('#tvar_'+j).val();
                o.rod = $('#rod_'+j).val();
                o.pad = $('#pad_'+j).val();
                o.cislo = $('#cislo_'+j).val();
                o.osoba = $('#osoba_'+j).val();
                o.cas = $('#cas_'+j).val();
                o.sposob = $('#sposob_'+j).val();
                o.stupen = $('#stupen_'+j).val();
                o.pricastie = $('#pricastie_'+j).val();
                o.anotacia = $('#anotacia_'+j).val();
                o.zvratnost = $('#ddlSLOVESO_Zvratnost').val();
                zoznam.push(o);
            }
        }
    });

    return zoznam;
}

function ZmenSlovaSD(closeScreen){
    $('#SDSlovaForm').data('formValidation').validate();
    var formIsVald = $('#SDSlovaForm').data('formValidation').isValid();

    if (formIsVald) {
        var data={};

        data.id = getSD_ID();

        var typ = '{{request.args.get("slovnyDruh")}}';
        data.typ = typ;
        data.koren = $('#ddlKorenSlova').val();
        data.vzor = $('#ddlVzor').val();
        data.prefix = $('#ddlPrefix').val();
        data.sufix = $('#ddlSufix').val();

        data.zmazaneSlova = zmazaneSlova;

        if (typ == "POD_M"){
            data.rod = $('#txtPOD_M_ROD').val();
            data.sloveso_id = $('#ddlPOD_M_Sloveso').val();
            data.paradigma = $('#ddlParadigma_POD_M').val();
        }
        else if (typ == "PRID_M"){
            data.sloveso_id = $('#ddlPRID_M_Sloveso').val();
            data.paradigma = $('#ddlParadigma_PRID_M').val();
            data.vzor_stup = $('#ddlVzorStup').val();

            if ($('#cbPRID_M_je_priv').prop('checked'))
                data.je_privlastnovacie = 'A';
            else
                data.je_privlastnovacie = 'N';
        }
        else if (typ == "ZAMENO"){
            data.rod = $('#ddlZAMENO_ROD').val();
            data.cislo = $('#ddlZAMENO_CISLO').val();
        }
        else if (typ == "SLOVESO"){
            data.zvratnost = $('#ddlSLOVESO_Zvratnost').val();
            if ($('#cbSLOVESO_je_negacia').prop('checked'))
                data.je_negacia = 'A';
            else
                data.je_negacia = 'N';
            data.sloveso_id = $('#ddlSLOVESO_Sloveso').val();
        }
        else if (typ == "PREDLOZKA"){
            data.pady = $('#ddlPREDLOZKA_Pady').val().join(';');
        }
        else if (typ=="CISLOVKA"){
            data.rod=$('#ddlCISLOVKA_ROD').val();
            data.cislo=$('#ddlFormCISLOVKA_Cislo').val();
            data.hodnota=$('#txtFormCISLOVKA_HODNOTA').val();
        }

        var nacitajVsetkyZaznamy = true;

        if ('{{request.args.get("ulozAkoNoveSlovo")}}' == 'true'){
            nacitajVsetkyZaznamy = true;
        }
        else{
            nacitajVsetkyZaznamy = false;
        }

        data.slova = VratZoznamZmenenychSlov(nacitajVsetkyZaznamy);

        data.tab = 'slova';

        AjaxMethods.getDataFromPostRequest('{{url_for("sd.zmenit_sd")}}', "", data, function(r){
            if (r.status==responseOK){//OK vetva
                swal({ buttons: {},
                   title  :  "Úspech",
                   text   :  "Slovný druh bol úspešne pridaný/zmenený",
                   icon   :  "success"}).then(function(result) {
                                                var $modal =  $('#txtFormZakTvar').parents('.modal');
                                                if (closeScreen) $modal.modal('hide');
                                                if (typeof ZnovuNacitajZaznamy === "function") {
                                                    ZnovuNacitajZaznamy();
                                                }
                                              });
            }
            else {
                   swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  r.message_text,
                       icon   :  "error"})
            }
        });
    }
    else{
        swal({ buttons: {},
                   title  :  "Chyba",
                   text   :  "Chyba validácie. Skontrolujte červené položky",
                   icon   :  "error"});
    }
}

/************************** UVODNE NASTAVENIA ***********************************/
/************************** UVODNE NASTAVENIA ***********************************/
/************************** UVODNE NASTAVENIA ***********************************/

function SetUpKoren(slovo){
    var oldKoren = $('#ddlKorenSlova').val();

    var s="";

    for (var i=0;i<slovo.length;i++){
        s = slovo.substr(0,slovo.length-i);
        $('#ddlKorenSlova').append("<option value='"+s+"'>"+s+"</option>");
    }

    if (oldKoren){
        $('#ddlKorenSlova').val(oldKoren);
    }
}

function SetUpPrefixSufix(ps){
    var oldPrefix = $('#ddlPrefix').val();
    var oldSufix = $('#ddlSufix').val();

    $('#ddlPrefix').empty();
    $('#ddlPrefix').append("<option value='' selected>Žiaden</option>");
    $('#ddlSufix').empty();
    $('#ddlSufix').append("<option value='' selected>Žiaden</option>");

    for (var i=0;i<ps.length;i++){
        if ('{{request.args.get("slovnyDruh")}}'=='POD_M'){
            if (ps[i].prefix_sufix == "P" && ps[i].typ=="POD_M")
                $('#ddlPrefix').append("<option value='"+ps[i].hodnota+"'>"+ps[i].hodnota+"</option>");
            else if (ps[i].prefix_sufix == "S" && ps[i].typ=="POD_M")
                $('#ddlSufix').append("<option value='"+ps[i].hodnota+"'>"+ps[i].hodnota+"</option>");
        } else if ('{{request.args.get("slovnyDruh")}}'=='PRID_M'){
            if (ps[i].prefix_sufix == "P" && ps[i].typ=="PRID_M")
                $('#ddlPrefix').append("<option value='"+ps[i].hodnota+"'>"+ps[i].hodnota+"</option>");
            else if (ps[i].prefix_sufix == "S" && ps[i].typ=="PRID_M")
                $('#ddlSufix').append("<option value='"+ps[i].hodnota+"'>"+ps[i].hodnota+"</option>");
        }
    }

    if (oldPrefix){
        $('#ddlPrefix').val(oldPrefix);
    }

    if (oldSufix){
        $('#ddlSufix').val(oldSufix);
    }
}

function SetUpVzory(v){
    var oldValue = $('#ddlVzor').val();
    var oldValueStup = $('#ddlVzorStup').val();

    $('#ddlVzor').empty();
    $('#ddlVzor').append("<option value='' selected>Nenastavený</option>");
    $('#ddlVzorStup').empty();
    $('#ddlVzorStup').append("<option value='' selected>Nenastavený</option>");

    for (i=0;i<v.length;i++){
        if ('{{request.args.get("slovnyDruh")}}'=='POD_M'){
            if (v[i].rod == $('#txtPOD_M_ROD').val() && v[i].typ=="POD_M" && v[i].sklon_stup=="sklon")
                $('#ddlVzor').append("<option value='"+v[i].vzor+"'>"+v[i].vzor+" - "+v[i].popis+")</option>");
        } else if ('{{request.args.get("slovnyDruh")}}'=='PRID_M'){
            if ($('#ddlVzor option[value='+v[i].vzor+']').length == 0 && v[i].typ=="PRID_M" && v[i].sklon_stup=="sklon")
                $('#ddlVzor').append("<option value='"+v[i].vzor+"'>"+v[i].vzor+" - " + v[i].popis + "</option>");
        }
    }

    if (oldValue){
        $('#ddlVzor').val(oldValue);
    }

    for (i=0;i<v.length;i++){
        if ('{{request.args.get("slovnyDruh")}}'=='PRID_M'){
            if (v[i].typ=="PRID_M" && v[i].sklon_stup=="stup")
                $('#ddlVzorStup').append("<option value='"+v[i].vzor+"'>"+v[i].vzor+" - "+v[i].popis+"</option>");
        }
    }

    if (oldValue){
        $('#ddlVzor').val(oldValue);
    }

    if (oldValueStup){
        $('#ddlVzorStup').val(oldValueStup);
    }
}

function setupSlovaDruh(pridavanyDruh){
    typ = pridavanyDruh;
    if (pridavanyDruh == "POD_M"){
        $(".c_rod").addClass('nodisplay');
        $(".c_osoba").addClass('nodisplay');
        $(".c_cas").addClass('nodisplay');
        $(".c_stupen").addClass('nodisplay');
        $(".c_sposob").addClass('nodisplay');
        $(".c_pricastie").addClass('nodisplay');
        $(".POD_M").removeClass('nodisplay');
    }
    else if (pridavanyDruh == "SLOVESO"){
        $(".SLOVESO").removeClass('nodisplay');
        $(".c_pricastie").addClass('nodisplay');
        $(".c_pad").addClass('nodisplay');
    }
    else if (pridavanyDruh == "ZAMENO"){
        $(".ZAMENO").removeClass('nodisplay');
        $(".c_osoba").addClass('nodisplay');
        $(".c_cas").addClass('nodisplay');
        $(".c_stupen").addClass('nodisplay');
        $(".c_sposob").addClass('nodisplay');
        $(".c_pricastie").addClass('nodisplay');
    }
    else if (pridavanyDruh == "CISLOVKA"){
        $(".CISLOVKA").removeClass('nodisplay');
        $(".c_osoba").addClass('nodisplay');
        $(".c_cas").addClass('nodisplay');
        $(".c_stupen").addClass('nodisplay');
        $(".c_sposob").addClass('nodisplay');
        $(".c_pricastie").addClass('nodisplay');
    }
    else if (pridavanyDruh == "PRID_M"){
        $(".PRID_M").removeClass('nodisplay');
        $(".c_osoba").addClass('nodisplay');
        $(".c_cas").addClass('nodisplay');
        $(".c_sposob").addClass('nodisplay');
    }
    else if (pridavanyDruh == "PREDLOZKA"){
        $(".PREDLOZKA").removeClass('nodisplay');
        $(".c_cislo").addClass('nodisplay');
        $(".c_rod").addClass('nodisplay');
        $(".c_osoba").addClass('nodisplay');
        $(".c_cas").addClass('nodisplay');
        $(".c_stupen").addClass('nodisplay');
        $(".c_sposob").addClass('nodisplay');
        $(".c_pricastie").addClass('nodisplay');
        $(".c_pad").addClass('nodisplay');
    }
    else if (pridavanyDruh == "OSTATNE"||
            pridavanyDruh == "CASTICA"||
            pridavanyDruh == "SPOJKA"||
            pridavanyDruh == "PRISLOVKA"||
            pridavanyDruh == "CITOSLOVCE"){

        $(".c_cislo").addClass('nodisplay');
        $(".c_rod").addClass('nodisplay');
        $(".c_osoba").addClass('nodisplay');
        $(".c_cas").addClass('nodisplay');
        if (pridavanyDruh != "PRISLOVKA")
            $(".c_stupen").addClass('nodisplay');
        $(".c_sposob").addClass('nodisplay');
        $(".c_pad").addClass('nodisplay');
        $(".c_pricastie").addClass('nodisplay');
    }
}

$(document).ready(function() {
    pridavanyDruh = '{{request.args.get("slovnyDruh")}}';

    if (pridavanyDruh == "POD_M"){
        $('.POD_M').removeClass('nodisplay');
        $('#tvar_0').removeClass('slovo_tvar').addClass('pm_slovo_tvar');
        $('#tvar_f').removeClass('slovo_tvar').addClass('pm_slovo_tvar');
    }
    else if (pridavanyDruh == "PRID_M"){
        $('.PRID_M').removeClass('nodisplay');
        $('#tvar_0').removeClass('slovo_tvar').addClass('pm_slovo_tvar');
        $('#tvar_f').removeClass('slovo_tvar').addClass('pm_slovo_tvar');
    }

    $('#SDSlovaForm').formValidation();


    if ('{{request.args.get("ulozAkoNoveSlovo")}}' == 'true'){
        if (getPovodneSD_ID()>0)
            NacitajSDSlova(getPovodneSD_ID());
    }
    else{
        if (getSD_ID()>0)
            NacitajSDSlova(getSD_ID());
    }

    setupSlovaDruh(pridavanyDruh);

    $('#ddlPREDLOZKA_Pady').select2();

    if (pridavanyDruh == "SLOVESO" ||
        pridavanyDruh == "POD_M" ||
        pridavanyDruh == "PRID_M" ||
        pridavanyDruh == "PRISLOVKA" ||
        pridavanyDruh == "CISLOVKA"){
        $(".VZOR").removeClass('nodisplay');
    }

    $('#ddlVzor').select2();
    $('#ddlVzorStup').select2();
    $('#ddlPrefix').select2();
    $('#ddlSufix').select2();
    $('#ddlParadigma_POD_M').select2();
    $('#ddlParadigma_PRID_M').select2();

    $('.changed_f').change(function (){
        $('#hdn_changed_f').val('true');
    });

    $('#SDSlovaForm').keydown(function(event){
        if(event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
    $('#slova_loader').addClass('nodisplay');
    $('#slova_div').fadeIn( "slow", function() {
                          }).removeClass('nodisplay');
});

</script>
