<div id="zakladne_loader" class="row">
    <div class="col-sm-12">
        <i class="fa fa-spinner fa-spin fa-lg"></i>
    </div>
</div>
<div id="zakladne_div" class="row nodisplay" >
    <div class="col-sm-12">
        <form id="SDForm" data-fv-framework="bootstrap" method="post">
                <div class="row marginbottomDetailSD">
                    <input type="hidden" id="txtFormSlovoId" value="0"/>
                    <label class="col-sm-2" for="prepend">
                         Základný tvar:
                    </label>
                    <div class="col-sm-4">
                        <input type="text" id="txtFormZakTvar" name="txtFormZakTvar" class="form-control zmenaZakInfo" data-fv-row=".col-sm-4"
                         data-fv-notempty="true" data-fv-notempty-message="Základný tvar je povinný"
                         value="">
                    </div>
                    <label class="col-sm-2" for="prepend">
                         Koncept slova:
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlKoncept" name="ddlKoncept" class="zmenaZakInfo">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row POD_M marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Rod:
                    </label>
                    <div class="col-sm-2">
                        <select id="txtPOD_M_ROD" class="form-control zmenaZakInfo rodPole">
                            <option value="M">M</option>
                            <option value="Z">Z</option>
                            <option value="S">S</option>
                        </select>
                    </div>
                    <label class="col-sm-1" for="prepend">
                         Podrod:
                    </label>
                    <div class="col-sm-2">
                        <select id="txtPOD_M_PODROD" class="form-control zmenaZakInfo">
                            <option value="">Žiaden</option>
                            <option value="Z">Z</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                    <label class="col-sm-2" for="prepend">
                         Nav. na sloveso:
                    </label>
                    <div class="col-sm-3">
                        <select id="ddlPOD_M_Sloveso" name="ddlPOD_M_Sloveso" class="zmenaZakInfo">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row POD_M marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Počítateľnosť:
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlPOD_M_pocitatelnost" class="form-control zmenaZakInfo">
                            <option value="" selected>neurčené</option>
                            <option value="poc">Počitateľné</option>
                            <option value="hrom">Hromadné</option>
                        </select>
                    </div>
                </div>
                <div class="row SLOVESO marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Zvratnost(sa/si):
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlSLOVESO_Zvratnost" name="ddlSLOVESO_Zvratnost" class="form-control zmenaZakInfo">
                            <option value="">Nezvratné</option>
                            <option value="sa">sa</option>
                            <option value="si">si</option>
                        </select>
                    </div>
                    <label class="col-sm-2" for="prepend">
                         Pozit. sloveso:
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlSLOVESO_Sloveso" name="ddlSLOVESO_Sloveso" class="zmenaZakInfo">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row SLOVESO marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Je negácia:
                    </label>
                    <div class="col-sm-4">
                        <input type="checkbox" id="cbSLOVESO_je_negacia" name="cbSLOVESO_je_negacia" class="zmenaZakInfo"/>
                    </div>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
                <div class="row CISLOVKA marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Hodnota:
                    </label>
                    <div class="col-sm-4">
                        <input type="text" id="txtFormCISLOVKA_HODNOTA" name="txtFormCISLOVKA_HODNOTA"
                               class="form-control zmenaZakInfo" data-fv-row=".col-sm-4"
                         data-fv-notempty="true" data-fv-notempty-message="Hodnora je povinná"
                         value="">
                    </div>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
                <div class="row PRID_M marginbottomDetailSD nodisplay">
                    <label class="col-sm-3" for="prepend">
                         Je privlastňovacie:
                    </label>
                    <div class="col-sm-3">
                        <input type="checkbox" id="cbPRID_M_je_priv" name="cbPRID_M_je_priv" class="zmenaZakInfo"/>
                    </div>
                    <label class="col-sm-2" for="prepend">
                         Nav. na sloveso:
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlPRID_M_Sloveso" name="ddlPRID_M_Sloveso" class="zmenaZakInfo">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row PREDLOZKA marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Pády predložky:
                    </label>
                    <div class="col-sm-4">
                        <select id="ddlPREDLOZKA_Pady" name="ddlPREDLOZKA_Pady"  multiple="multiple" class="zmenaZakInfo">
                            <option value="Gen">Gen</option>
                            <option value="Dat">Dat</option>
                            <option value="Aku">Aku</option>
                            <option value="Vok">Vok</option>
                            <option value="Lok">Lok</option>
                            <option value="Ins">Ins</option>
                        </select>
                    </div>
                </div>
                <div class="row POD_M PRID_M CISLOVKA SLOVESO OSTATNE marginbottomDetailSD nodisplay">
                    <label class="col-sm-2" for="prepend">
                         Sém. príznaky:
                    </label>
                    <div class="col-sm-10">
                        <select id="ddlSEM_PRIZ" class="form-control zmenaZakInfo" multiple="multiple">
                        {% for sempridm in sem_priz %}
                            <option value="{{ sempridm.id }}">{{ "("+sempridm.kod+") "+sempridm.nazov }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
        </form>
    </div>
</div>
<script>

var zmenaVZakladneInfo = false;

function NastavSemantickePriznaky(zoznam){
    var priznaky = zoznam.split(';');
    $('#ddlSEM_PRIZ').val(priznaky);
}

function NastavSloveso(itemid, id_slovesa, text_slovesa){
    if (id_slovesa)
        $(itemid).append("<option selected value='"+id_slovesa+"'>"+text_slovesa+"</option>");
}

function NastavKoncept(itemid, id_konceptu, text_konceptu){
    if (id_konceptu)
        $(itemid).append("<option selected value='"+id_konceptu+"'>"+text_konceptu+"</option>");
}

function NacitajZakladneInfoSD(sd_id){
        AjaxMethods.getDataFromGetRequest('{{url_for("sd.vrat_zakladne_info_sd")}}', "",
        "?sd_id="+sd_id, function(r){
            if (r.status==responseOK){//OK vetva
                $('#txtFormZakTvar').val(r.data.zak_tvar);
                $('#txtFormPopis').val(r.data.popis);
                NastavKoncept('#ddlKoncept',r.data.koncept_id,r.data.koncept_nazov);

                if (r.data.sem_priznaky)
                    NastavSemantickePriznaky(r.data.sem_priznaky);

                if (r.data.typ=="POD_M"){
                    $('#txtPOD_M_ROD').val(r.data.rod);
                    $('#txtPOD_M_PODROD').val(r.data.podrod);
                    NastavSloveso('#ddlPOD_M_Sloveso',r.data.sloveso_id,r.data.sloveso_tvar);
                    if (r.data.pocitatelnost)
                        $('#ddlPOD_M_pocitatelnost').val(r.data.pocitatelnost);
                }
                else if (r.data.typ=="PRID_M"){
                    $('#cbPRID_M_je_priv').prop('checked',r.data.je_privlastnovacie=="A");
                    NastavSloveso('#ddlPRID_M_Sloveso',r.data.sloveso_id,r.data.sloveso_tvar);
                }
                else if (r.data.typ=="ZAMENO"){
                }
                else if (r.data.typ=="SLOVESO"){
                    $('#ddlSLOVESO_Zvratnost').val(r.data.zvratnost);
                    $('#cbSLOVESO_je_negacia').prop('checked',r.data.je_negacia=="A");
                    NastavSloveso('#ddlSLOVESO_Sloveso',r.data.sloveso_id,r.data.sloveso_tvar);
               }
                else if (r.data.typ=="PREDLOZKA"){
                    var pady = r.data.pady;
                    $("#ddlPREDLOZKA_Pady").val(pady.split(';'));
                }
                else if (r.data.typ=="CISLOVKA"){
                    $('#txtFormCISLOVKA_HODNOTA').val(r.data.hodnota);
                }

                setupD(r.data.typ);
            } else{
                   swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  r.message_text,
                       icon   :  "error"})
            }
        });

}

function ZmenSDZakladneInfo(){
    var res=false;

    if (!zmenaVZakladneInfo && '{{request.args.get("ulozAkoNoveSlovo")}}' != 'true' &&
        getSD_ID() != -1 && getSD_ID() != 0){
        return true;
    }

    $('#SDForm').data('formValidation').resetForm();
    $('#SDForm').data('formValidation').validate();
    var formIsVald = $('#SDForm').data('formValidation').isValid();

    if (formIsVald) {
        var data={};

        if ('{{request.args.get("ulozAkoNoveSlovo")}}' == 'true'){
            data.id = 0;
        }
        else{
            data.id = getSD_ID();
        }


        data.zak_tvar = $('#txtFormZakTvar').val();
        data.popis = $('#txtFormPopis').val();
        data.typ = typ;
        data.tab = $(currentTab).attr('id');
        data.sem_priznaky = $('#ddlSEM_PRIZ').val().join(';');
        data.koncept_id = $('#ddlKoncept').val();

        if (typ == "POD_M"){
            data.rod = $('#txtPOD_M_ROD').val();
            data.podrod = $('#txtPOD_M_PODROD').val();
            data.sloveso_id = $('#ddlPOD_M_Sloveso').val();
            data.pocitatelnost = $('#ddlPOD_M_pocitatelnost').val();
        }
        else if (typ == "PRID_M"){
            data.sloveso_id = $('#ddlPRID_M_Sloveso').val();

            if ($('#cbPRID_M_je_priv').prop('checked'))
                data.je_privlastnovacie = 'A';
            else
                data.je_privlastnovacie = 'N';
        }
        else if (typ == "ZAMENO"){
        }
        else if (typ == "SLOVESO"){
            data.zvratnost = $('#ddlSLOVESO_Zvratnost').val();
            if ($('#cbSLOVESO_je_negacia').prop('checked'))
                data.je_negacia = 'A';
            else
                data.je_negacia = 'N';
            data.sloveso_id = $('#ddlSLOVESO_Sloveso').val();
        }
        else if (typ == "PREDLOZKA"){
            data.pady = $('#ddlPREDLOZKA_Pady').val().join(';');
        }
        else if (typ=="CISLOVKA"){
            data.hodnota=$('#txtFormCISLOVKA_HODNOTA').val();
        }

        AjaxMethods.getDataFromPostRequest('{{url_for("sd.zmenit_sd")}}', "", data, function(r){
            if (r.status==responseOK){//OK vetva
                res=true;
                setSD_ID(r.data);
                zmenaVZakladneInfo = false;
            }
            else {
                   swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  r.message_text,
                       icon   :  "error"})
            }
        });
    }
    else{
        swal({ buttons: {},
                   title  :  "Chyba",
                   text   :  "Chyba validácie. Skontrolujte červené položky",
                   icon   :  "error"});

        return false;
    }

    return res;
}

function setupD(pridavanyDruh){
    typ = pridavanyDruh;
    if (pridavanyDruh == "POD_M"){
        $(".POD_M").removeClass('nodisplay');
    }
    else if (pridavanyDruh == "SLOVESO"){
        $(".SLOVESO").removeClass('nodisplay');
    }
    else if (pridavanyDruh == "ZAMENO"){
        $(".ZAMENO").removeClass('nodisplay');
    }
    else if (pridavanyDruh == "CISLOVKA"){
        $(".CISLOVKA").removeClass('nodisplay');
    }
    else if (pridavanyDruh == "PRID_M"){
        $(".PRID_M").removeClass('nodisplay');
    }
    else if (pridavanyDruh == "PREDLOZKA"){
        $(".PREDLOZKA").removeClass('nodisplay');
    }
    else if (pridavanyDruh == "OSTATNE"){
        $(".OSTATNE").removeClass('nodisplay');
    }
}

$(document).ready(function() {

    $('#SDForm').formValidation();

    var slovDruh = "{{request.args.get("slovnyDruh")}}";


    if ('{{request.args.get("ulozAkoNoveSlovo")}}' == 'true'){
        if (getPovodneSD_ID()>0)
            NacitajZakladneInfoSD(getPovodneSD_ID());
        else{
            if ('{{request.args.get('slovo')}}'!='None'){
                $('#txtFormZakTvar').val('{{request.args.get('slovo')}}');
            }
        }
    }
    else{
        if (getSD_ID()>0)
            NacitajZakladneInfoSD(getSD_ID());
        else{
            if ('{{request.args.get('slovo')}}'!='None'){
                $('#txtFormZakTvar').val('{{request.args.get('slovo')}}');
            }
        }
    }

    $('#ddlPREDLOZKA_Pady').select2();
    $('#ddlSEM_PRIZ').select2();

    bindSlovesoAutocomplete('#ddlPOD_M_Sloveso');
    bindSlovesoAutocomplete('#ddlSLOVESO_Sloveso');
    bindSlovesoAutocomplete('#ddlPRID_M_Sloveso');
    bindKonceptAutocomplete('#ddlKoncept');

    setupD(slovDruh);

    $('.zmenaZakInfo').change(function(){
        zmenaVZakladneInfo = true;
    });

    $('#zakladne_div').fadeIn( "slow", function() {
                                }).removeClass('nodisplay');
    $('#zakladne_loader').addClass('nodisplay');

    $('.rodPole').change(function(){
        if (loadnuteTaby["slova"]) {
            swal({ buttons: {},
                   title  :  "Chyba",
                   text   :  "Pre prejavenie všetkých zmien súvisiacich so zmenou rodu (napr. zoznam vzorov)"+
                             " je potrebné odísť z obrazovky a otvoriť ju nanovo",
                   icon   :  "error"});
        }
    });

});

</script>