{% extends "_main.jinja.html" %}

{% block title %}Zoznam predložiek{% endblock %}

{% block main %}
    <div class="container-fluid" style="padding-top:80px; margin-bottom:30px;">
        <div class="row">
            <div class="col-sm-3">
                 <div class="well well-light">
                      <div class="form-horizontal">
                            <fieldset class="border p-2">
                                <legend>Vyhľadávanie</legend>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input id="txtFTvar" class="form-control SearchOnChange SearchOnEnter" type="text" placeholder="Základný tvar predložky">
                                    </div>
                                </div>
                            </fieldset>
                       </div>
                  </div>
            </div>
            <div class="col-sm-9">
                <h1>Zoznam predložiek</h1>
                <table class="table table-striped table-bordered" style="width:100%" id="zoznam_predloziek">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Základný tvar</th>
                            <th>Popis</th>
                            <th>Pády</th>
                        </tr>
                    </thead>
                <tbody>
                </tbody>
                </table>
                <p>
                    <button type="button" class="btn btn-primary nodisplay" id="btnPridajPREDLOZKU" onclick="PridatPREDLOZKU(0);"><i class="fa fa-plus"></i>&nbsp;Pridať predložku</button>
                </p>
            </div>
        </div>
    </div>
<script>
    function ZnovuNacitajZaznamy(){
        nacitajPredlozky();
    }

    function PridatZmenitSD(id){
        loadTemplateIntoLargeScreenModal('#defaultModal', 'largescreen', 'Zmena predložky',
        '{{url_for("sd.zmenit_sd")}}'+'?sd_id='+id+'&slovnyDruh='+'PREDLOZKA');
    }

    function PridatPREDLOZKU(){
        loadTemplateIntoLargeScreenModal('#defaultModal', 'largescreen', 'Pridať predložku','{{url_for("sd.zmenit_sd")}}?slovnyDruh='+'PREDLOZKA');
    }

    function predlozkaGridFormatter(data, type, row){
        var d = "<li><a href='javascript:PridatZmenitSD(" + row.id + ");' title='Detail slovesa'><span class='fa fa-eye fa-sm'></span>&nbsp;Detail predložky</a></li>";
        var e = '';
        var f = '';
        var g = '';

        if ('{{som_admin_slov()}}' == 'True'){
            e = "<li><a href='javascript:PridatZmenitSD(" + row.id + ");' title='Zmeniť predložku'><span class='fa fa-pencil-alt fa-sm'></span>&nbsp;Zmeniť predložku</a></li>";
            g = "<li><a href='javascript:ZmazSlovnyDruh(" + row.id + ", function(){ ZnovuNacitajZaznamy(); });' title='Zmazať celú predložku'><span class='fa fa-trash-alt fa-sm'></span>&nbsp;Zmazať celú predložku</a></li>";
        }

        return gridButtonFormater(d+e+f+g, '', true, "220px");
    }

    function bindHladaj() {
        $('.SearchOnEnter').keypress(function(event) {
            if (event.keyCode == 13) {
                nacitajPredlozky();
            }
        });
        $('.SearchOnChange').change(function(event) {
            nacitajPredlozky();
        });
    }

    $(document).ready(function () {
        bindHladaj();
        if ('{{som_admin_slov()}}'=='True'){
            $('#btnPridajPREDLOZKU').removeClass('nodisplay');
        }

    });

    function nacitajPredlozky(){
        $('#zoznam_predloziek').DataTable().ajax.reload();
    }

    $("#zoznam_predloziek").DataTable({
        responsive: true,
        serverSide: true,
        processing: true,
        searching: false,
        language: {
           url : "{{ url_for("static", filename="js/datatables_slovak.json") }}"
        },
        dom : '<<"row"<"col-sm-12"tr>><"row"<"col-lg-4 col-md-6"i><"col-lg-4 col-md-6"l><"col-lg-4 col-md-6"p>>>',
        ajax: {
            url : "{{ url_for("sd.daj_predlozky") }}",
            data : function ( d ) {
                d.hladaj_tvar = $('#txtFTvar').val();
            },
        },
        columns: [
            { data: "id" , render: function(data, type, row){
                                        return predlozkaGridFormatter(data, type, row);
                                    }},
            { data: "id" },
            { data: "zak_tvar" },
            { data: "popis" },
            { data: "pady" },
        ]
        });
</script>

{% endblock %}
