{% extends "_main.jinja.html" %}
{% block title %}Pridať/zmeniť kontext{% endblock %}
{% block main %}

<div class="container padding-topCogito-Menu odsadeny-container">
    <h1>Pridanie/zmena kontextu:</h1>
    <br/>
    <div class="form-horizontal">
    <form id="txtContextForm" data-fv-framework="bootstrap" method="post">
        <input type="hidden" name="txtContext_kt_id" id="txtContext_kt_id" value="{% if kontext: %}{{kontext.id}}{% else %}0{% endif %}"/>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                       <label>Zadajte názov :</label>
                    </div>
                    <div class="col-sm-10">
                         <input type="text" placeholder="Názov, pomocou ktorého kontext identifikujete" id="txtContextName" name="txtContextName" class="form-control" data-fv-row=".col-sm-12"
                         data-fv-notempty="true" data-fv-notempty-message="Názov kontextu je povinný"
                         value="{% if kontext: %}{{kontext.nazov}}{% endif %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                 <textarea rows="14" placeholder="Sem vložte slová - obsah kontextu" id="txtContext" name="txtContext" class="form-control" data-fv-row=".col-sm-12"
                 data-fv-notempty="true" data-fv-notempty-message="Slová kontextu sú povinné"
                 >{% if kontext: %}{{kontext.obsah}}{% endif %}</textarea>
            </div>
        </div>

      {% if session['logged'] %}
        <div class="row button-row">
            <div class="col-sm-12">
                <input type="hidden" id="txtContextStatus" value="{% if kontext: %}{{kontext.status}}{% endif %}">
				<a class="btn btn-cogito" role="button" href="{{ url_for("kontext.moje_kontexty") }}">Zrušiť</a>
                <button id="save-context" type="button" class="btn btn-primary" onclick="ZmenKontext(true, 'txtContext');return false;">{% if kontext: %}Zmeniť kontext{% else %}Pridať kontext{% endif %}</button>
            </div>
        </div>
      {% endif %}
    </form>
</div>
</div>
<script>
	
	$(document).ready(function() {
		$('#txtContextForm').formValidation();
		initCKEditorInstance('txtContext',300, 'kontext', '');
	})


</script>
{% endblock %}