{% extends "_main.jinja.html" %}
{% block title %}Pridať/zmeniť kontext{% endblock %}
{% block main %}

<div class="container padding-topCogito-Menu odsadeny-container">
    <h1>Pridanie/zmena kontextu:</h1>
    <br/>
    <div class="form-horizontal">
    <form id="ContextForm" data-fv-framework="bootstrap" method="post">
        <input type="hidden" name="kt_id" id="kt_id" value="{% if kontext: %}{{kontext.id}}{% else %}0{% endif %}"/>
        <div class="row">
            <div class="col-sm-12">
                <span class="col-xs-12">
                    Zadajte názov kontextu:
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                 <input type="text" placeholder="Názov, pomocou ktorého kontext identifikujete" id="txtContextName" name="txtContextName" class="form-control" data-fv-row=".col-sm-12"
                 data-fv-notempty="true" data-fv-notempty-message="Názov kontextu je povinný"
                 value="{% if kontext: %}{{kontext.nazov}}{% endif %}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="col-xs-12">
                    Obsah kontextu:
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                 <textarea rows="14" placeholder="Sem vložte slová - obsah kontextu" id="txtContext" name="txtContext" class="form-control" data-fv-row=".col-sm-12"
                 data-fv-notempty="true" data-fv-notempty-message="Slová kontextu sú povinné"
                 >{% if kontext: %}{{kontext.obsah}}{% endif %}</textarea>
            </div>
        </div>

      {% if session['logged'] %}
        <div class="row button-row">
            <div class="col-sm-12">
                <a class="btn btn-cogito" role="button" href="{{ url_for("kontext.moje_kontexty") }}">Zrušiť</a>
                <button id="save-context" type="button" class="btn btn-primary" onclick="ZmenKontext(true);return false;">{% if kontext: %}Zmeniť kontext{% else %}Pridať kontext{% endif %}</button>
            </div>
        </div>
      {% endif %}
    </form>
</div>
</div>
<script>

function ZmenKontext(redirect){
        var formSelector="#ContextForm";

        $(formSelector).data('formValidation').validate();
        var formIsVald = $(formSelector).data('formValidation').isValid();

        if (formIsVald) {
            data = {};

            data.id=$("#kt_id").val();
            data.nazov=$("#txtContextName").val();
            data.obsah = CKEDITOR.instances['txtContext'].getData();
            data.text= CKEDITOR.instances['txtContext'].document.getBody().getText();

            AjaxMethods.getDataFromPostRequest('{{url_for("kontext.pridat_kontext")}}', "", data, function(r){
                if (r.status==responseOK){//OK vetva
                    swal({ buttons: {},
                       title  :  "Úspech",
                       text   :  "Kontext bol úspešne pridaný/zmenený",
                       icon   :  "success"}).then(function(result) {
                                                    $("#kt_id").val(r.data);
                                                    if (redirect)
                                                        window.location.replace("{{ url_for("kontext.moje_kontexty") }}");
                                                  });
                } else{
                    swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  r.error_text,
                       icon   :  "error"});

                }
            });
        }
        else{
            swal({ buttons: {},
                       title  :  "Chyba",
                       text   :  "Chyba validácie. Skontrolujte červené položky",
                       icon   :  "error"});
        }
}
    function ChybaAkNepodporovanyBrowser(){

        var isOpera=false;
        var isChrome=false;
        var isSafari=false;
        var isFirefox=false;
        var isEdge=false;
        var isIE=false;
        var isUnknown=false;

        if((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) != -1 )
        {
            isOpera = true;
        }
        else if(navigator.userAgent.indexOf("Edge") != -1 )
        {
            isEdge = true;
        }
        else if(navigator.userAgent.indexOf("Chrome") != -1 )
        {
            isChrome = true;
        }
        else if(navigator.userAgent.indexOf("Safari") != -1)
        {
            isSafari = true;
        }
        else if(navigator.userAgent.indexOf("Firefox") != -1 )
        {
            isFirefox = true;
        }
        else if((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )) //IF IE > 10
        {
            isIE = true;
        }
        else
        {
            isUnknown = true;
        }

        if (!isFirefox&&!isEdge&&!isChrome&&!isOpera){
              swal({ buttons: {},
                      title  :  "Chyba",
                      text   :  'Používate nepodporovaný prehliadač. Niektoré časti stránky nemusia korektne fungovať. Podporované sú Google Chrome, Mozilla Firefox, Microsoft Edge a Opera',
                      icon   :  "error"})
        }

    }

$(document).ready(function() {
    ChybaAkNepodporovanyBrowser();
    $('#ContextForm').formValidation();
    
	var settingsToolbar = $('<span id="settings-rows" class="cke_top settings-disabled" style="height: auto; user-select: none;padding: 6px 8px 20px;">'+
						'<span class="cke_voice_label">Settings row</span>'+
						'<span class="cke_toolbox">'+
							'<span class="cke_toolbar cke_toolbar_last">'+
								'<span class="cke_voice_label"></span>'+
								'<span class="cke_toolbar_start"></span>'+
								'<span class="cke_toolgroup">'+
									'<a class="cke_button cke_button__source cke_button_disabled" href="#" title="">'+
										'<span class="cke_button_label cke_button__source_label">'+
											'Gramatika pre tvar <i class="fa fa-long-arrow-alt-right"></i> <b><el class="setting-tvar"></el></b>'+
										'</span>'+
									'</a><br />'+
									
									'<a class="cke_button cke_button__source cke_button_disabled" href="#" title="">'+
										'<span class="cke_button_label cke_button__source_label">'+
											'<el class="setting-slovny_druh"></el>'+
											'<el class="setting-spec_meno"></el>'+
											'<el class="setting-rod"></el>'+
											'<el class="setting-podrod"></el>'+
											'<el class="setting-vzor"></el>'+
											'<el class="setting-prefix"></el>'+
											'<el class="setting-sufix"></el>'+
											'<el class="setting-pocitatelnost"></el>'+
											'<el class="setting-pad"></el>'+
											'<el class="setting-cislo"></el>'+
											'<el class="setting-odvodene"></el>'+
											'<el class="setting-popis"></el>'+
											'<el class="setting-anotacia"></el>'+
										'</span>'+
									'</a>'+
								'</span>'+
								'<span class="cke_toolbar_end"></span>'+
							'</span>'+
							'<span class="cke_toolbar_break"></span>'+
						'</span>'+
					'</span>'+
					'<span  id="settings-rows-buttons" class="cke_top settings-disabled" style="height: auto; user-select: none;">'+
						'<span class="cke_voice_label">Progress Bar</span>'+
						'<span class="cke_toolbox">'+
							'<div class="progress">'+
								'<div id="kontextProgressText" class="progress-bar-text"></div> '+                      
								'<div id="kontextProgress" class="progress-bar"></div> '+                      
							'</div>'+
							'<div style="text-align: center;">'+
								'<a href="#" class="btn" onclick="prev_word(this);" title="Predchádzajúce slovo"><i class="fa fa-angle-double-left"></i></a>'+
								'<a href="#" class="btn" onclick="next_word(this);" title="Nasledujúce slovo"><i class="fa fa-angle-double-right"></i></a>'+
							'</div>'+
							'<div>'+
								'<el class="setting-accept_word"></el>'+
							'</div>'+
						'</span>'+
					'</span>');
	
	initCKEditorInstance('txtContext',300, 'kontext',settingsToolbar);
});



</script>
{% endblock %}