<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-horizontal">
                <form id="RozborForm" data-fv-framework="bootstrap" method="post">
                    <div class="col-sm-12">
                         <textarea rows="10" placeholder="" cols="20" id="taStromy" name="taStromy" class="form-control" data-fv-row=".col-sm-12">{{stromy_body}}</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
