USER = 'cogito'
PASSWORD = 'cogito'
HOST = '127.0.0.1'
DB_NAME = 'cogito'

SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://'+USER+':'+PASSWORD+'@'+HOST+'/'+DB_NAME + "?charset=utf8mb4"
# &binary_prefix=true"

SQLALCHEMY_TRACK_MODIFICATIONS = False

RECAPTCHA_ACTIVE = False

RECAPTCHA_USE_SSL = False
RECAPTCHA_PUBLIC_KEY = 'AAA'
RECAPTCHA_PRIVATE_KEY = 'BBB'
RECAPTCHA_OPTIONS = {'theme': 'white'}
