USER = 'cogito'
PASSWORD = 'cogito'
HOST = '127.0.0.1'
DB_NAME = 'cogito'

SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://'+USER+':'+PASSWORD+'@'+HOST+'/'+DB_NAME + "?charset=utf8mb4"
# &binary_prefix=true"

SQLALCHEMY_TRACK_MODIFICATIONS = False

RECAPTCHA_USE_SSL = False
RECAPTCHA_PUBLIC_KEY = '6LdT7e4UAAAAAHYRm0HTY6Vj5E6C8DEFqSaFs9f3'
RECAPTCHA_PRIVATE_KEY = '6LdT7e4UAAAAANfkPWUo6Cn-jIqBjFtlInTiqbdv'
RECAPTCHA_OPTIONS = {'theme': 'white'}
