{% extends "_main.jinja.html" %}
{% block title %}Popis platformy{% endblock %}
{% block main %}
      <div class="jumbotron" style="background-color:#e9ecef">
        <div class="container">
          <h1 class="display-4">Cogito. Inteligencia. Inteligencia tvorená a podporená metadátami o svete.</h1>
          <p>
              <br>
          </p>
            <h2 class="display-8">Popis projektu</h2>
            <p>Cogito je výskumný projekt, ktorého cieľom je dosiahnuť porozumenie a neskôr i tvorenie čisto slovenského
              textu. Projekt je unikátny tým, že pracuje so slovenčinou - jazykom, ktorý je flektívny.
                Projekt sa od väčšiny súčasných projektov zameraných na spracovanie prirodzeného jazyka líši i tým, že nepoužíva
                zatiaľ žiadnu neurónovú sieť. Aj keď v neskorších fázach predpokladáme zapojenie neurónových
              sietí najmä na dosiahnutie anotácie spracovávaného textu a i iných úloh, spočívajúcich vo využití obrovských
              korpusov slovenských textov - napríklad určitej obmeny word2vec algoritmu na zaraďovanie slov do spoločných
              kategórií a pod.
              Myslíme si totiž, že dosiahnuť porozumenie textu ide i štandardnými programovacími technikami.
              Pod dosiahnutím porozumenia textu, rozumieme dosiahnutie schopnosti algoritmov odpovedať na faktické otázky
              položené z obsahu textu položené v prirodzenom jazyku.
          </p><p>Dôkazom tohto tvrdenia, je i projekt <a href="http://www.sophia.sk/sk/kniha/sapfo-parafrazovac-slovenciny">SAPFO</a>,
            ktorý v 90tych rokoch realizoval Dr. Emil Páleš v Jazykovednom Ústave Ľudovíta Štúra.
          </p><p>SAPFO dokázal urobiť dôslednú morfologickú analýzu slovenských slov, ďalej syntaktickú a sémantickú
            analýzu slovenských viet a následne vedel realizovať tvorbu parafráz viet v slovenčine.
          </p>
            <p>
                <div class="row">
                    <div class="col-sm-6">
                            <p>Menu systému SAPFO:</p>
                            <img src="/static/images/popis/sapfo-menu.png" alt="SAPFO menu" width="450px"/>
                    </div>
                    <div class="col-sm-6">
                            <p>Nastavenie parafrázovania v systéme SAPFO:</p>
                            <img src="/static/images/popis/sapfo-p-menu.png" alt="SAPFO parafrázujúce menu" width="450px"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                            <p>Tvorba parafráz v systéme SAPFO:</p>
                            <img src="/static/images/popis/sapfo-p.png" alt="SAPFO parafrázy" width="450px"/>
                    </div>
                    <div class="col-sm-6">
                        &nbsp;
                    </div>
                </div>
            </p>
            <p>Na výsledky SAPFO, by rád nadviazal tento projekt tým, že aplikuje jednotlivé overené metódy
            hlavne z oblasti morfológie,
            syntaxtickej a sémantickej analýzy a i schopnosti parafrázovať na celej škále slov slovenčiny.
            Najskôr na obmedzenej skupine slov, postupným rozširovaním na všetkých známych slovách. Cogito narozdiel od SAPFO
            má databázu všetkých používaných slov slovenčiny vo všetkých ich tvaroch - cca 24 mil záznamov. Z toho asi 3.5 mil
            je detailne anotovaných Jazykovedným Ústavom Ľudovíta Štúra.
          </p>
        <p>
            V prvých fázach projektu počítame s tým, že vstupom do systému bude dôkladne anotovaný text, ktorého zmyslom
            je jednoznačne určiť zmysel viet. Preto pracujeme na vývoji špeciálneho editora textu, ktorý umožní takýto
            text efektívne zadávať. V prípade, že je v texte napríklad nejaké dvojznačné homonymum, ktoré by mohlo svojou
            viacznačnosťou pliesť následné algoritmy pracujúce na rozbore textu a určovaní jeho významu, tak v editore
            používateľ jednoznačne určí ktoré z významu homonyma je v konkrétnej vete na mysli.
                <div class="row">
                    <div class="col-sm-12">
                            <p>Anotovanie textu v editore Cogita:</p>
                            <img src="/static/images/editor.png" alt="Editor kontextov" width="800px"/>
                    </div>
                </div>
        </p>
        <p>
            Následne bude úlohou systému urobiť syntaktický a sémantický rozbor textu. Pri syntaktickej analýze textu
            plánujeme vytvoriť syntaktický strom viet, prostredníctvom algoritmu použitého v SAPFO. Jedná sa o ATN algoritmus
            rozšírenej prechodovej siete upravenej špeciálne na potreby slovenčiny.
        </p>
        <p>
            Ďaľším krokom v analýze textu je jeho sémantická analýza. Dr. Emil Páleš v systéme SAPFO zaviedol systém tzv.
            sémantických pádov. Tj. významových odtieňov jednotlivých slov v texte, podľa toho akú sémantickú rolu slová
            v texte hrajú. Priraďovanie týchto rôl slov sa deje pomocou viac či menej komplikovaných tzv. valenčných pravidiel
            slov. Tzn. spôsobe akým sa slová viažu na seba v texte. Nezanedbateľnú úlohu v tomto procese hrajú aj hierarchické
            vzťahy medzi slovami - odvodenosť slov navzájom od seba.
        </p>
        <br>
        <h2 class="display-8">Načo to bude všetko dobré?</h2>
        <p>
            Dosiahnutie méty porozumenia textu, je dôležitým míľnikom pri honbe za zlatým grálom technológií nového tisícročia -
            všeobecnej umelej inteligencii. Spracovanie a pochopenie písaného textu, bude prvým krokom, ktorý musí byť uskutočnený.
            Vyvinutie takejto technológie má ovšem i ďaleko prvoplánovejšie využitie. Napríklad:
            <ul>
            <li>Prechod z technológie web 2.0 na web 3.0 - jeho základom budú miesto internetových vyhľadávačov sémantické odpovedače.
                Používateľ miesto zadania dotazu "počasie Nitra" do vyhľadávača bude informácie získavať otázkami formulovanými v prirodzenom jazyku.
                Napr.: "Bude zajtra v Nitre pršať?" Odpovedač mu bez potreby prehľadávať výsledky dotazu na jednotlivých stránkach
                venovaných meteorologickým predpovediam odpovie v prirodzenom jazyku rešeršom, ktorý sám zostaví.
            </li>
            <li>Oveľa kvalitnejšie služby spojené s prekladom do iných jazykov. Ak bude softvér dôkladne rozumieť obsahu toho čo má preložiť,
                preklad bude oveľa kvalitnejší.</li>
            <li>Zdokonalenie služieb spojených s hlasovými asistentami - Siri, Google Home, Cortana atď.</li>
            </ul>
        </p>
        </div>
      </div>
{% endblock %}