{% extends "_main.jinja.html" %}
{% block title %}Sémantické príznaky{% endblock %}
{% block main %}
<link rel="stylesheet" href="{{url_for('static', filename='js/jstree/themes/default/style.min.css')}}" />
<script src='{{url_for("static", filename="js/jstree/jstree.min.js")}}'></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding-top:80px; margin-bottom:30px;">
            <div class="nav flex-column nav-pills" id="nav-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="nav-POD_M-tab" data-toggle="pill" href="#nav-POD_M" role="tab" aria-controls="v-pills-home" aria-selected="true">Podstatné mená</a>
                <a class="nav-link" id="nav-PRID_M-tab" data-toggle="pill" href="#nav-PRID_M" role="tab" aria-controls="v-pills-profile" aria-selected="false">Prídavné mená</a>
                <a class="nav-link" id="nav-CISLOVKA-tab" data-toggle="pill" href="#nav-CISLOVKA" role="tab" aria-controls="v-pills-messages" aria-selected="false">Číslovky</a>
                <a class="nav-link" id="nav-SLOVESO-tab" data-toggle="pill" href="#nav-SLOVESO" role="tab" aria-controls="v-pills-messages" aria-selected="false">Slovesá</a>
            </div>
        </div>
        <div class="col-10">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-POD_M" role="tabpanel" aria-labelledby="nav-POD_M-tab" data-target="{{url_for('metadata.sem_priznaky_typ')}}?typ=POD_M">
            </div>
            <div class="tab-pane fade" id="nav-PRID_M" role="tabpanel" aria-labelledby="nav-PRID_M-tab" data-target="{{url_for('metadata.sem_priznaky_typ')}}?typ=PRID_M">
            </div>
            <div class="tab-pane fade" id="nav-CISLOVKA" role="tabpanel" aria-labelledby="nav-CISLOVKA-tab" data-target="{{url_for('metadata.sem_priznaky_typ')}}?typ=CISLOVKA">
            </div>
            <div class="tab-pane fade" id="nav-SLOVESO" role="tabpanel" aria-labelledby="nav-SLOVESO-tab" data-target="{{url_for('metadata.sem_priznaky_typ')}}?typ=SLOVESO">
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        init_click();
        init_tabs();
    });

    var currentTab = {};

    function RefreshContent(e, data) {
        reloadActiveTab();
    }

    function reloadActiveTab() {
        var selected = $('#nav-tab .active a');
        selected.trigger("click");
    }

    function activateTab(cssClass) {
        var tabObj = $('#nav-tab .' + cssClass);
        tabObj.trigger("click");
    }

    function show_tab(tab) {
        if (typeof (currentTab) !== 'undefined') {
            $(currentTab).empty();
        }
        var selected = $('#nav-tab .active a').attr('href');
        tab.html('<i class="fa fa-spinner fa-spin fa-lg"></i>');
        tab.load(tab.attr('data-target'));
        currentTab = tab;
    }

    function load_default_tab() {
        var tab = $('#nav-tab .active');
        tab.tab('show');
        show_tab($('#' + tab.attr('href').substr(1)));
    }

    function init_tabs() {
        load_default_tab();
    }

     function init_click() {
         $('#nav-tab a').click(function (e) {
             e.preventDefault();
             var id = $(this).attr('href').substr(1);
             var tabObj = $(this);
             tabObj.tab('show');
             var tab = $('#' + id);
             show_tab(tab);
            });
     }


</script>

{% endblock %}
