<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{# CSS LINKS #}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/allCss.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/fontawesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/solid.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}?v=7">
<link rel="stylesheet" href="{{url_for('static', filename='js/jstree/themes/default/style.min.css')}}" />

{# JS LINKS #}
<script type="text/javascript" src="{{url_for('static', filename='js/main_uvod.js')}}?v=19"></script>
<script type="text/javascript" src='{{url_for("static", filename="ckeditor/ckeditor.js" )}}?v=20200226-D'></script>
<script src="{{url_for('static', filename='js/allJS.min.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/select2/select2.min.js')}}?v=6"></script>
<script type="text/javascript" src='{{url_for("static", filename="js/jstree/jstree.min.js")}}'></script>
<script type="text/javascript" src="{{url_for('static', filename='js/editor.js')}}?v=11"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}?v=15"></script>



<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

